
.topline 
{
    margin: 10px;
    display: flex;
    align-items: center;    
    justify-content: center;
}
.circle 
{
    width: 150px; /* Set the width and height to create a circle */
    height: 150px;
    border-radius: 50%; /* Makes the element circular */
    overflow: hidden; /* Clips the content to the shape of the circle */
    border: 2px solid #ccc; /* Optional border */
}

.circle img 
{
    width: 100%; /* Make the image fill the circular container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image doesn't create extra space */
    border-color: black;
}
.my-button 
{
    /*background-color: #3498db;*/
    /*color: #fff;*/
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}    
.menu
{
    background-color: rgb(223, 149, 47);
}
.topbox
{
    flex-direction: column;
    background-color: rgb(228, 137, 10);
    margin-bottom: 0px;
}